body{
    background-color: black;
}

#clock{
    position:relative;
    color: rgb(214, 82, 224);
    align-items: center;
    text-align: center;
    font-size: 60px;
    top: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 6px;
}